.home-content {
  form {
    display: flex;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    position: relative;
    .search-input {
      padding: 8px;
      border-radius: 7px;
      border: 1px solid orange;
      width: 100%;
      padding-left: 2.5rem;
      font-size: 17px;
      background-color: transparent;
      color: white;
    }
    .search-btn {
      border: none;
      position: absolute;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      .search-icon {
        width: 18px;
        height: 18px;
        color: white;
        padding: 5px;
      }
      .search-icon:hover {
        color: orange;
        transition: 0.2s ease-in-out;
        cursor: pointer;
      }
    }
  }
  .first-part {
    width: 25%;
    margin: 0 auto;
    .phonetics {
      .phonetic-boxes {
        .phonetic-box {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          .pronunciation {
            font-size: 18px;
          }
          .play-btn {
            background-color: transparent;
            border: none;
            border-radius: 90%;
            padding-top: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            .play-icon {
              font-size: 2rem;
              color: orange;
            }
          }
        }
      }
    }
  }
  .second-part {
    .definition-box {
      width: 80%;
      margin: 0 auto;
      margin-top: 1.5rem;
      border-top: 1px solid orange;
      padding: 8px;
      .partOfSpeech{
        color: orange;
      }
    }
  }
}

@media (max-width: 768px) {
  .home-content {
    form {
      width: 85%;
      .search-input {
        font-size: 14px;
      }
    }
    .first-part {
      width: 50%;
      .searched-word {
        font-size: 20px;
      }
      .phonetic-box {
        .pronunciation {
          font-size: 15px !important;
        }
        .play-btn {
          .play-icon {
            font-size: 1.7rem !important;
          }
          margin-top: 2px;
        }
      }
    }

    .second-part{
      .definition-box{
        .partOfSpeech{
          font-size: 17px !important;
        }
        .definition{
          font-size: 13px !important;
        }
      }
    }
  }
}
